//CUSTOM VARIABLES =============================================================
//https://www.materialpalette.com/
$about:            #00BCD4;
$about-dark:       #0097A7;
$about-light:      #B2EBF2;
$about-text:       #FFFFFF;
$portfolio-dark:   #388E3C;
$portfolio:        #4CAF50;
$portfolio-light:  #C8E6C9;
$portfolio-text:   #FFFFFF;
$contact-dark:     #FFA000;
$contact:          #FFC107;
$contact-light:    #FFECB3;
$contact-text:     #212121;
$experiments-dark: #5D4037;
$experiments:      #795548;
$experiments-light:#D7CCC8;
$experiments-text: #FFFFFF;

$fontsize: 16px;



//YO CODE ======================================================================
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-size: $fontsize;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

//==============CUSTOM STYLES ==================================================

h1 {
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.header {
  position: fixed;
  width: 100%;
  margin: 0;
  border: 0;
  z-index: 999;
  /*.navbar-default {
    background-color: rgba(248, 248, 248, 0.5);
    border: none;
  }*/
}

// Angular animations
@keyframes enterfade {
  from { opacity: 0; }
}
@keyframes leavefade {
  to { opacity: 0; }
}

@keyframes enterslide {
  from {
    transform: translateX(100%);
    width: 100%;
  } to {
    transform: translateX(0);
    width: 100%;
  }
}
@keyframes leaveslide {
  from {
    transform: translateX(0);
    width: 100%;
  } to {
    transform: translateX(-100%);
    width: 100%;
  }
}

.ng-enter {
  animation: enterslide 0.3s;
  z-index: 88;
}
.ng-leave {
  animation: leaveslide 0.3s;
  z-index: 99;
}

//MAIN CONTAINER--------------------------------------------
.container {
  width: 100%;
  max-width: none;
  position: relative;
  padding: 0;
}

//MENUS=========================================================

//MOBILE MENU--------------------------------------------
.menu-mobile {
  display: none;
  font-size: 0;
  z-index: 999;
  position: fixed;
  width: 100%;
  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    li {
      font-size: $fontsize;
      font-weight: bold;
      color: white;
      display: inline-block;
      text-align: center;
      width: 25%;
      height: 50px;
      margin: 0;
      padding: 15px 5px;
    }
    .about-bt {
      background-color: $about;
    }
    .portfolio-bt {
      background-color: $portfolio;
    }
    .contact-bt {
      background-color: $contact;
    }
    .experiments-bt {
      background-color: $experiments;
    }
  }
}

//ROTATIVE MENU-------------------------------------------
.section-menu {
  z-index: 10;
  position: absolute;
  width: 100%;
}
.section-menu.about, .section-menu.portfolio, .section-menu.contact, .section-menu.experiments {
  position: relative;
  z-index: 10;
  width: 200px;
}
.menu-container, .menuInit {     //container
  width: 400px;
  margin: auto;
  .menu-rotator {
    .menu {             //rotated div-set
      width: 400px;
      margin: auto;
      margin-top: 72px;
      -ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Chrome; Safari; Opera */
      transform: rotate(45deg);
      border-radius: 100%;
      overflow: hidden;
      .first, .second {  // Row general class (2 div each)
        width: 405px;
        margin: auto;
        text-align: center;
      }
      .first {
        margin-bottom: 5px;
      }
      .menu-box {       //Common menu-box options
        width: 200px;
        border-color: white;
        height: 200px;
        display: inline-block;
        h1 {              //Common menu text options
          -ms-transform: rotate(-45deg); /* IE 9 */
          -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
          transform: rotate(-45deg);
          margin: 100px auto;
          font-weight: bold;
          color: white;
          font-size: 20px;
        }
      }
      //CLASSES FOR EACH MENU DIV (color and borders)
      .one{ //About
        background-color: $about;
      }
      .one:hover {
        background-color: $about-light;
      }
      .two{ //Portfolio
        background-color: $portfolio;
      }
      .two:hover {
        background-color: $portfolio-light;
      }
      .three{ // Contact
        background-color: $contact;
      }
      .three:hover {
        background-color: $contact-light;
      }
      .four{ //Experiments
        background-color: $experiments;
        }
      .four.experiments h1 { //translate to the left to fit in the div when rotated
        -ms-transform: rotate(-315deg) translateX(-25px); /* IE 9 */
        -webkit-transform: rotate(-315deg) translateX(-25px); /* Chrome; Safari; Opera */
        transform: rotate(-315deg) translateX(-25px);
      }
      .four:hover {
        background-color: $experiments-light;
      }
      .one, .two, .three, .four {
        margin: 0;
      }
    }
  }

  //CLASSES FOR EACH MENU ELEMENT--------------------------------
  .menu.about {
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Chrome; Safari; Opera */
    transform: rotate(135deg);
    animation: rotateabout 0.5s;
    .menu-box h1, a {
      -ms-transform: rotate(-135deg); /* IE 9 */
      -webkit-transform: rotate(-135deg); /* Chrome; Safari; Opera */
      transform: rotate(-135deg);
      transform-origin: bottom;
      animation: rotateaboutp 0.5s;
    }
  }
  .menu.portfolio {
    -ms-transform: rotate(405deg); /* IE 9 */
    -webkit-transform: rotate(405deg); /* Chrome; Safari; Opera */
    transform: rotate(405deg);
    animation: rotateportfolio 0.5s;
    .menu-box h1 {
      -ms-transform: rotate(-405deg); /* IE 9 */
      -webkit-transform: rotate(-405deg); /* Chrome; Safari; Opera */
      transform: rotate(-405deg);
      animation: rotateportfoliop 0.5s;
    }
  }
  .menu.contact {
    -ms-transform: rotate(225deg); /* IE 9 */
    -webkit-transform: rotate(225deg); /* Chrome; Safari; Opera */
    transform: rotate(225deg);
    animation: rotatecontact 0.5s;
    .menu-box h1 {
      -ms-transform: rotate(-225deg); /* IE 9 */
      -webkit-transform: rotate(-225deg); /* Chrome; Safari; Opera */
      transform: rotate(-225deg);
      animation: rotatecontactp 0.5s;
    }
  }
  .menu.experiments {
    -ms-transform: rotate(315deg); /* IE 9 */
    -webkit-transform: rotate(315deg); /* Chrome; Safari; Opera */
    transform: rotate(315deg);
    animation: rotateexperiments 0.5s;
    .menu-box h1 {
      -ms-transform: rotate(-315deg); /* IE 9 */
      -webkit-transform: rotate(-315deg); /* Chrome; Safari; Opera */
      transform: rotate(-315deg);
      animation: rotateexperimentsp 0.5s;
    }
  }
}

//MENU ACTIVE CLASSES-------------

//Menu slides to the left when click
.menuInit.about, .menuInit.portfolio, .menuInit.experiments, .menuInit.contact,
.about.menu-container, .portfolio.menu-container, .experiments.menu-container, .contact.menu-container{
    margin-left: -200px;
    animation: moveleft 0.5s;
    display: inline-block;
}
.menu-container.about:hover, .menu-container.portfolio:hover, .menu-container.contact:hover, .menu-container.experiments:hover,  {
    margin-left: 0;
    animation: moveright 0.5s;
}

//SECTION CONTENT ==============================================================

// General settings
.section-content {
  width: 100%;
  position: absolute;
  top: 0;
  color: white;
}

// Active settings


.section-content.about, .section-content.portfolio, .section-content.experiments, .section-content.contact,  {
  display: block;
  position: absolute;
  top: 0;
}

//SECTIONS =====================================================================

//General
.container, .container.about, .container.portfolio, .container.contact, .container.experiments {
  position: absolute;
  top: 0;
}

//Home
.container.home {
  min-height: 100vh;
  width: 100%;
  padding-left: 250px;
  color: black;
  z-index: 0;
  text-align: center;
  padding-right: 250px;
}

//About
.container.about {
  background-color: $about;
  min-height: 100vh;
  padding-left: 250px;
  .row{
    .main {
      padding-top: 40px;
      .img-container-l {
        text-align: center;
        width: 100%;
        padding: 40px;
        img {
          width: 200px;
          border-radius: 100%;
        }
      }
      .text-container-l {
        max-width: 380px;
        margin: auto;
      }
    }
    .ext {
      background-color: $about-light;
      color: black;
      min-height: 100vh;
      text-align: right;
      padding: 50px;
      .img-container-r {
        text-align: justify;
        max-width: 510px;
        margin: 40px auto;
        img {
          display: inline-block;
          max-height: 150px;
          margin: 17px;
          max-width: 70%;
        }
      }
    }
  }
}

//Portfolio
.container.portfolio {
  background-color: $portfolio;
  min-height: 100vh;
  padding-left: 250px;
  .row{
    .main {
      padding-top: 40px;
      .img-container-l {
        text-align: center;
        width: 100%;
        padding: 40px;
        img {
          width: 200px;
          border-radius: 100%;
          background-color: $portfolio-dark;
        }
      }
      .text-container-l {
        max-width: 380px;
        margin: auto;
      }
    }
    .ext {
      background-color: $portfolio-light;
      color: black;
      min-height: 100vh;
      text-align: right;
      padding: 50px;
      .img-container-r {
        text-align: justify;
        max-width: 510px;
        margin: 40px auto;
        .portfolio-img {
          width: 100%;
          position: relative;
          margin-bottom: 50px;
          img {
            width: 100%;
          }
          .portfolio-desc {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 25px;
            background-color: $portfolio;
          }
        }
      }
    }
  }
}

//Contact
.container.contact {
  background-color: $contact;
  min-height: 100vh;
  padding-left: 250px;
  .row{
    .main {
      padding-top: 40px;
      .img-container-l {
        text-align: center;
        width: 100%;
        padding: 40px;
        img {
          width: 200px;
          border-radius: 100%;
          background-color: $contact-dark;
        }
      }
      .text-container-l {
        max-width: 380px;
        margin: auto;
      }
    }
    .ext {
      background-color: $contact-light;
      color: black;
      min-height: 100vh;
      text-align: right;
      padding: 50px;
      .social {
        max-width: 510px;
        width: 80%;
        margin: 50px auto;
        .logo {
          width: 30%;
          display: inline-block;
          margin: 15px;
        }
        .text{
          width: 40%;
          display: inline-block;
        }
      }
    }
  }
}

//Experiments
.container.experiments {
  background-color: $experiments;
  min-height: 100vh;
  padding-left: 250px;
  .row{
    .main {
      padding-top: 40px;
      .img-container-l {
        text-align: center;
        width: 100%;
        padding: 40px;
        img {
          width: 200px;
          border-radius: 100%;
          background-color: $experiments-dark;
        }
      }
      .text-container-l {
        max-width: 380px;
        margin: auto;
      }
    }
    .ext {
      background-color: $experiments-light;
      color: black;
      min-height: 100vh;
      text-align: right;
      padding: 50px;
      .img-container-r {
        text-align: justify;
        max-width: 510px;
        margin: 40px auto;
        .portfolio-img {
          width: 100%;
          position: relative;
          margin-bottom: 50px;
          img {
            width: 100%;
          }
          .portfolio-desc {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 25px;
            background-color: $experiments;
          }
        }
      }
    }
  }
}

//FOOTER=======================================================

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: none;
  padding: 25px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  .container {
    position: relative;
    p {
      margin: 0;
    }
  }
}


//RESPONSIVE ===================================================
@media (max-width: 1200px) {
  .menu-mobile{
    display: block;
  }
  /*.menu-container, .menu-container.about, .menu-container.portfolio, .menu-container.contact, .menu-container.experiments,
  .menuInit, .menuInit.about, .menuInit.portfolio, .menuInit.contact, .menuInit.experiments,  {
    display: none;
  }*/
  .container, .container.home, .container.about, .container.portfolio, .container.contact, .container.experiments {
    margin: 0;
    padding: 0;
  }
  .container.home {
    display: block;
    padding-top: 65px;
  }
  .row {
    margin: 0;
  }
}
