//CUSTOM VARIABLES =============================================================
//https://www.materialpalette.com/
$one:            #00BCD4;
$one-dark:       #0097A7;
$one-light:      #B2EBF2;
$one-text:       #FFFFFF;
$two-dark:       #388E3C;
$two:            #4CAF50;
$two-light:      #C8E6C9;
$two-text:       #FFFFFF;
$three-dark:     #FFA000;
$three:          #FFC107;
$three-light:    #FFECB3;
$three-text:     #212121;
$four-dark:      #5D4037;
$four:           #795548;
$four-light:     #D7CCC8;
$four-text:      #FFFFFF;

$fontsize: 16px;



//YO CODE ======================================================================
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-size: $fontsize;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

//==============CUSTOM STYLES ==================================================

h1 {
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.header {
  position: fixed;
  width: 100%;
  margin: 0;
  border: 0;
  z-index: 999;
}

// Angular enter/leave animations
@keyframes enterslide {
  from {
    transform: translateX(100%);
    width: 100%;
  } to {
    transform: translateX(0);
    width: 100%;
  }
}
@keyframes leaveslide {
  from {
    transform: translateX(0);
    width: 100%;
  } to {
    transform: translateX(-100%);
    width: 100%;
  }
}

.ng-enter {
  animation: enterslide 0.3s;
  z-index: 88;
}
.ng-leave {
  animation: leaveslide 0.3s;
  z-index: 99;
}

//MAIN CONTAINER--------------------------------------------
.container {
  width: 100%;
  max-width: none;
  position: relative;
  padding: 0;
}

//MENUS=========================================================

//MOBILE MENU--------------------------------------------
.menu-mobile {
  display: none;
  font-size: 0;
  z-index: 999;
  position: fixed;
  width: 100%;
  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    li {
      font-size: $fontsize;
      font-weight: bold;
      color: white;
      display: inline-block;
      text-align: center;
      width: 25%;
      height: 50px;
      margin: 0;
      padding: 15px 5px;
    }
    .one-bt {
      background-color: $one;
    }
    .two-bt {
      background-color: $two;
    }
    .three-bt {
      background-color: $three;
    }
    .four-bt {
      background-color: $four;
    }
  }
}

//ROTATIVE MENU-------------------------------------------
.section-menu {
  z-index: 10;
  position: absolute;
  width: 100%;
}
.section-menu.one, .section-menu.two, .section-menu.three, .section-menu.four {
  position: relative;
  z-index: 10;
  width: 200px;
}
.menu-container, .menuInit {     //container
  width: 400px;
  margin: auto;
  .menu-rotator {
    .menu {             //rotated div-set
      width: 400px;
      margin: auto;
      margin-top: 72px;
      -ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Chrome; Safari; Opera */
      transform: rotate(45deg);
      border-radius: 100%;
      overflow: hidden;
      .first, .second {  // Row general class (2 div each)
        width: 405px;
        margin: auto;
        text-align: center;
      }
      .first {
        margin-bottom: 5px;
      }
      .menu-box {       //Common menu-box options
        width: 200px;
        border-color: white;
        height: 200px;
        display: inline-block;
        h1 {              //Common menu text options
          -ms-transform: rotate(-45deg); /* IE 9 */
          -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
          transform: rotate(-45deg);
          margin: 100px auto;
          font-weight: bold;
          color: white;
          font-size: 20px;
        }
      }
      //CLASSES FOR EACH MENU DIV (color and borders)
      .one{ //one
        background-color: $one;
      }
      .one:hover {
        background-color: $one-light;
      }
      .two{ //two
        background-color: $two;
      }
      .two:hover {
        background-color: $two-light;
      }
      .three{ // three
        background-color: $three;
      }
      .three:hover {
        background-color: $three-light;
      }
      .four{ //four
        background-color: $four;
        }
      .four.four h1 { //translate to the left to fit in the div when rotated
        -ms-transform: rotate(-315deg) translateX(-25px); /* IE 9 */
        -webkit-transform: rotate(-315deg) translateX(-25px); /* Chrome; Safari; Opera */
        transform: rotate(-315deg) translateX(-25px);
      }
      .four:hover {
        background-color: $four-light;
      }
      .one, .two, .three, .four {
        margin: 0;
      }
    }
  }

  //CLASSES FOR EACH MENU ELEMENT--------------------------------
  .menu.one {
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Chrome; Safari; Opera */
    transform: rotate(135deg);
    animation: rotateone 0.5s;
    .menu-box h1, a {
      -ms-transform: rotate(-135deg); /* IE 9 */
      -webkit-transform: rotate(-135deg); /* Chrome; Safari; Opera */
      transform: rotate(-135deg);
      transform-origin: bottom;
      animation: rotateonep 0.5s;
    }
  }
  .menu.two {
    -ms-transform: rotate(405deg); /* IE 9 */
    -webkit-transform: rotate(405deg); /* Chrome; Safari; Opera */
    transform: rotate(405deg);
    animation: rotatetwo 0.5s;
    .menu-box h1 {
      -ms-transform: rotate(-405deg); /* IE 9 */
      -webkit-transform: rotate(-405deg); /* Chrome; Safari; Opera */
      transform: rotate(-405deg);
      animation: rotatetwop 0.5s;
    }
  }
  .menu.three {
    -ms-transform: rotate(225deg); /* IE 9 */
    -webkit-transform: rotate(225deg); /* Chrome; Safari; Opera */
    transform: rotate(225deg);
    animation: rotatethree 0.5s;
    .menu-box h1 {
      -ms-transform: rotate(-225deg); /* IE 9 */
      -webkit-transform: rotate(-225deg); /* Chrome; Safari; Opera */
      transform: rotate(-225deg);
      animation: rotatethreep 0.5s;
    }
  }
  .menu.four {
    -ms-transform: rotate(315deg); /* IE 9 */
    -webkit-transform: rotate(315deg); /* Chrome; Safari; Opera */
    transform: rotate(315deg);
    animation: rotatefour 0.5s;
    .menu-box h1 {
      -ms-transform: rotate(-315deg); /* IE 9 */
      -webkit-transform: rotate(-315deg); /* Chrome; Safari; Opera */
      transform: rotate(-315deg);
      animation: rotatefourp 0.5s;
    }
  }
}

//MENU ACTIVE CLASSES-------------

//Menu slides to the left when click
.menuInit.one, .menuInit.two, .menuInit.four, .menuInit.three,
.one.menu-container, .two.menu-container, .four.menu-container, .three.menu-container{
    margin-left: -200px;
    animation: moveleft 0.5s;
    display: inline-block;
}
.menu-container.one:hover, .menu-container.two:hover, .menu-container.three:hover, .menu-container.four:hover,  {
    margin-left: 0;
    animation: moveright 0.5s;
}

//SECTION CONTENT ==============================================================

// General settings
.section-content {
  width: 100%;
  position: absolute;
  top: 0;
  color: white;
}

// Active settings


.section-content {
  display: block;
  position: absolute;
  top: 0;
}

//SECTIONS =====================================================================

//General
.container, .container.one, .container.two, .container.three, .container.four {
  position: absolute;
  top: 0;
}

//Home
.container.home {
  min-height: 100vh;
  width: 100%;
  padding-left: 250px;
  color: black;
  z-index: 0;
  text-align: center;
  padding-right: 250px;
}

//one
.container.one {
  background-color: $one;
  min-height: 100vh;
  padding-left: 250px;
}

//two
.container.two {
  background-color: $two;
  min-height: 100vh;
  padding-left: 250px;
}

//three
.container.three {
  background-color: $three;
  min-height: 100vh;
  padding-left: 250px;
}

//four
.container.four {
  background-color: $four;
  min-height: 100vh;
  padding-left: 250px;
}

//FOOTER=======================================================

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: none;
  padding: 25px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  .container {
    position: relative;
    p {
      margin: 0;
    }
  }
}


//RESPONSIVE ===================================================
@media (max-width: 1200px) {
  .menu-mobile{
    display: block;
  }
  .container, .container.home, .container.one, .container.two, .container.three, .container.four {
    margin: 0;
    padding: 0;
  }
  .container.home {
    display: block;
    padding-top: 65px;
  }
  .row {
    margin: 0;
  }
}
