<div class="container about" ng-swipe-left="slideFunction('portfolio')" ng-swipe-right="slideFunction('experiments')">
  <div class="row">
    <div class="col col-lg-5 col-sm-12 main">
      <h1> About Tony </h1>
      <div class="img-container-l">
        <img src="images/photo.jpg" alt="">
      </div>
      <div class="text-container-l">
        <p>I'm a father, husband, teacher and musician who decided to become a web developer.</p>
        <p>I love nature, reading, learning and rock'n'roll. I started playing the piano when I was a child and then I tested another instruments (drums, guitar,...) and made experiments with many music styles. </p>
        <p>I'm on my 30's and I decided to change my career, so I decided to prepare myself and started to learn everything about Frontend focused on WordPress development.</p>
        <p>Now, I'm on my way to be one of the best website programmers. I'm working hard to get it. Give me a chance and you won't regret.</p>
        <p>Everything you need is the best web, and I can do it for you.</p>
        <p>Don't even doubt. <a href="#!/contact">Contact me!</a></p>
      </div>
    </div>
    <div class="col col-lg-7 col-sm-12 ext">
      <h1>Technologies</h1>
      <div class="img-container-r">
        <img src="images/html.png" alt="">
        <img src="images/css.png" alt="">
        <img src="images/javascript.png" alt="">
        <img src="images/php.png" alt="">
        <img src="images/jquery.gif" alt="">
        <img src="images/angular.svg" alt="">
        <img src="images/bootstrap.png" alt="">
        <img src="images/foundation.png" alt="">
        <img src="images/wordpress.png" alt="">
      </div>
    </div>
  </div>
</div>
