<div class="container portfolio" ng-swipe-left="slideFunction('contact')" ng-swipe-right="slideFunction('about')">
  <div class="row">
    <div class="col col-lg-5 col-sm-12 main">
      <h1> My Jobs </h1>
      <div class="img-container-l">
        <img src="images/portfolio.png" alt="">
      </div>
      <div class="text-container-l">
        <p>In this section you can see some of my previous projects.</p>
        <p>By clicking them you can read some details about dates, used technologies or you can visit them if they're online </p>
        <p>If you want to see some of my ideas that are not published in any job, you can visit my <a href="#!/experiments">Experiments</a> section.</p>

      </div>
    </div>
    <div class="col col-lg-7 col-sm-12 ext">
      <h1>Latest Projects</h1>
      <div class="img-container-r">
        <div class="portfolio-img">
          <img src="images/pitagoras.png" alt="">
          <div class="portfolio-desc">
            Pitágoras Pulianas - Website
          </div>
        </div>
        <div class="portfolio-img">
          <img src="images/redhat.png" alt="">
          <div class="portfolio-desc">
            Red Hat trio - Website
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
